<article class="post w-100 p-3">
  <div class="card">
    <div class="title card-body card-header">
      <a href="{{post_url}}" target="_blank">{{title}}</a>
      <span>({{format_url post_url}})</span>
    </div>

    <div class="meta card-body">
      <span class="badge bg-primary rounded-pill">{{vote_count}}
        {{format_plural "point" vote_count}}</span>
      by
      {{user.username}}
      on
      {{format_date created_at}}
      |
      <a href="/post/{{id}}">{{comments.length}}
        {{format_plural "comment" comments.length}}</a>
    </div>
  </div>
</article>